.header {
  height: 50px;
  width: 100%;
  background-color: #ffff;

  .wrapper {
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      h2 {
        font-size: 20px;
        color: black;

        &:hover {
          color: var(--second-color);
          cursor: pointer;
          transition: 0.3s all ease;
        }
      }
    }
    @media (min-width: 768px) {
      span {
        font-size: 25px;
      }
      h2 {
        font-size: 25px;
      }
    }
  }
}
